<div style="font-family: 'Tangerine', cursive; margin-bottom: 60px;">
    GIL Morgan <br/>
    le {{ draft.getDate().format("d/m/Y") }} <br/>
    quelque part en campagne sans doute
</div>

<div style="padding-left: 30px;">
    {{ draft.getContent() }}
</div>