<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Going Postal - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "partials/nav.html.twig" %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
